body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.categories {
    margin: 20px 0;
}

.categories button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 200px;
    margin: 10px;
    display: none; /* Verstecke Bilder standardmäßig */
}

.gallery img.show {
    display: block; /* Zeige gefilterte Bilder */
}